name: GHAS Slack Notifications
on: [push, pull_request]
jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Slack Notification
        if: always()
        uses: slackapi/slack-github-action@v1.26.0
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          channel-id: 'C018YG5J7TP'  # Your channel name
          text: |
            *${{ github.workflow }}* ${{ job.status }}
            ${{ github.repository }} #${{ github.run_number }}
